body {
  text-align: center;
  margin: 0;
  font-family: American Typewriter, serif;
}

h1 {
  padding: 20px 0;
  background-color: gold;
}

#intro {
  font-size: 20px;
  margin: 40px;
}

#info {

}

#info input {
  margin: 10px;
  width: 300px;
  height: 30px;
}

#info input[type="text"] {
  font-size: 16px;
  padding-left: 5px;
}

#info select {
  margin-bottom: 20px;
  font-size: 16px;
  height: 30px;
  width: 200px;
}

.input {
  display: none;
}

[type="checkbox"] {
    vertical-align:middle;
}

#terms-submit {
  display: none;
}

input#terms-checkbox {
  width: 20px;
}

label#terms {
  width: 200px;
  font-size: 12px;
}

button {
  font-size: 16px;
  height: 30px;
  margin-top: 20px;
}

#letter {
  box-sizing: border-box;
  margin: 40px auto 0 auto;
  width: 578px;
  height: 750px;
  padding: 82px 40px 0 105px;
  font-size: 16px;
  text-align: justify;
  line-height: 34px;
  background-image: url("images/paper.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#letter p {
  margin-bottom: 35px;
}

#letter span {
  display: none;
}

#new-letter {
  margin-bottom: 40px;
}

@media screen and (max-width: 590px) {

  #letter {
    width: 359px;
    height: 470px;
    padding: 46px 30px 0 63px;
    line-height: 21px;
    font-size: 14px;
  }

  #letter p {
    margin-bottom: 22px;
  }
}
