body {
  text-align: center;
  margin: 0;
  font-family: American Typewriter, serif;
}

h1 {
  padding: 20px 0;
  background-color: gold;
}

#intro {
  font-size: 20px;
  margin: 40px;
}

#info {

}

#info input {
  margin: 10px;
  width: 300px;
  height: 30px;
}

#info input[type="text"] {
  font-size: 16px;
  padding-left: 5px;
}

#info select {
  margin-bottom: 20px;
  font-size: 16px;
  height: 30px;
  width: 200px;
}

.input {
  display: none;
}

[type="checkbox"] {
    vertical-align:middle;
}

#terms-submit {
  display: none;
}

input#terms-checkbox {
  width: 20px;
}

label#terms-label {
  width: 200px;
  font-size: 12px;
}

button {
  font-size: 16px;
  height: 30px;
  margin-top: 20px;
}

#letter {
  box-sizing: border-box;
  margin: 40px auto 0 auto;
  width: 578px;
  height: 750px;
  padding: 82px 40px 0 105px;
  font-size: 16px;
  text-align: justify;
  line-height: 34px;
  background-image: url("images/paper.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#letter p {
  margin-bottom: 35px;
}

#letter span {
  display: none;
}

#letter img {
  visibility: hidden;
  position: absolute;
  width: 100px;
  x-transition: all 1s ease-in-out;
  animation: ani 1s infinite;
}

@keyframes ani {
  0% {
    left: 40%;
  }
  50% {
    left: 60%;
  }
  100% {
    left: 40%;
  }
}

#new-letter {
  margin-bottom: 40px;
}

@media screen and (max-width: 590px) {

  #letter {
    width: 359px;
    height: 470px;
    padding: 46px 30px 0 63px;
    line-height: 21px;
    font-size: 14px;
  }

  #letter p {
    margin-bottom: 22px;
  }
}

#page-turn {
  display: none;
}

#page-previous,#page-next {
  display: inline-block;
  cursor: pointer;
}

#page-previous:active,#page-next:active {
  color: gold;
}

#page-previous {
  margin-right: 10px;
}

#page-next {
  margin-left: 10px;
}

#page-previous.disabled,#page-next.disabled {
  opacity: 0.2;
  cursor: default;
}
